extends layout

include _includes/sharedHTMLfunctions

block content
  .row.page-header: .col-lg-12
      h1= pageHeader.title

  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            +outputRating(course.rating)
          p= course.address
          .panel.panel-primary
            .panel-heading
              h2.panel-title Заняття
            .panel-body
              each time in course.classTimes
                p #{time.day}, #{time.date}, #{time.timing}, #{time.room}
          .panel.panel-primary
            .panel-heading
              h2.panel-title Групи
            .panel-body
              each group in course.groups
                span.label.label-warning
                  span.glyphicon.glyphicon-ok
                  | &nbsp;#{group}
                | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Розташування
            .panel-body
              img.img-responsive.img-rounded(src="http://maps.googleapis.com/maps/api/staticmap?center=50.466204,30.523300&zoom=17&size=400x350&sensor=false&markers=50.466204,30.523300&scale=2")
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/course/review/new') Додати коментар
              h2.panel-title Коментарі
            .panel-body.review-container
              each review in course.reviews
                .row
                  .review
                    .well.well-sm.review-header
                      span.rating
                        +outputRating(review.rating)
                      span.reviewAuthor #{review.author}
                      small.reviewTimestamp #{review.timestamp}
                    .col-xs-12
                      p !{(review.reviewText).replace(/\n/g, '<br/>')}
    .col-xs-12.col-md-3
      p.lead #{course.name} #{sidebar.context}
      p= sidebar.callToAction
